<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Meritocrate{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/meritocrate/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% block stylesheets %}{% endblock %}
</head>

{% block body %}
<body>
{% if is_granted('ROLE_USER') %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nav-custom">
                <ul class="nav-icons">
                    <li><a href="{{ path('meritocrate_homepage')}}logout">Logout <i class="material-icons left">exit_to_app</i></a></li>
                    <li><a href="{{ path('meritocrate_admin')}}">Home<i class="material-icons left">home</i></a></li>
                    {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('meritocrate_user_settings')}}"><i class="material-icons left">settings</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endif %}
    {% block content %}
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
{% endblock %}
</html>