<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Meritocrate{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/meritocrate/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% block stylesheets %}{% endblock %}
</head>

{% block body %}
<body>
    <nav id="sup768">
         <ul id="sup768List">
             {% if is_granted('ROLE_USER') %}
                 <li><a href="{{ path('fos_user_security_logout') }}">Logout<i class="material-icons left">exit_to_app</i></a></li>
                 <li><a href="{{ path('meritocrate_admin')}}">Home<i class="material-icons left">home</i></a></li>
                 <li><a href="{{ path('meritocrate_join_discussion') }}">Groups<i class="material-icons left">people</i></a></li>
                 <li><a href="{{ path('meritocrate_user_settings')}}">Settings<i class="material-icons left">settings</i></a></li>
             {% else %}
                 <a href="{{ path('meritocrate_homepage') }}">
                     <i class="material-icons left">home</i>
                 </a>
             {% endif %}
             {% if app.request.get('_route') == 'meritocrate_discussion_group' %}
                 <li id="speak1">Speak<a class="btn-floating btn waves-effect waves-light pulse"><i class="material-icons left">mic</i></a></li>
                 <li id="processing1"><a class="waves-effect waves-light btn red darken-1">Please wait <i class="material-icons left">query_builder</i></a></li>
             {% endif %}
         </ul>
    </nav>
    <nav id="inf768">
        <div id="burger"><img src="{{ asset('images/burger.png') }}"/></div>
        <div id="cross"><img src="{{ asset('images/cross.png') }}"/></div>
        {% if app.request.get('_route') == 'meritocrate_discussion_group' %}
        <ul class="right right-custom">
            <li id="speak2">Speak<a class="btn-floating btn waves-effect waves-light pulse"><i class="material-icons left">mic</i></a></li>
            <li id="processing2"><a class="waves-effect waves-light btn red darken-1">Please wait <i class="material-icons left">query_builder</i></a></li>
        </ul>
        {% endif %}
        <ul id="inf768List">
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_security_logout') }}">Logout<i class="material-icons left">exit_to_app</i></a></li>
                <li><a href="{{ path('meritocrate_admin')}}">Home<i class="material-icons left">home</i></a></li>
                <li><a href="{{ path('meritocrate_join_discussion') }}">Groups<i class="material-icons left">people</i></a></li>
                <li><a href="{{ path('meritocrate_user_settings')}}">Settings<i class="material-icons left">settings</i></a></li>
            {% else %}
                <a href="{{ path('meritocrate_homepage') }}">
                    <i class="material-icons left">home</i>
                </a>
            {% endif %}
        </ul>
    </nav>
    <h2> Meritocrate </h2>
    {% block content %}
    {% endblock %}
    <footer><a href="#">&copy; 2017, Meritocrate </a></footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
{% endblock %}
</html>