{% trans_default_domain 'FOSUserBundle' %}

<div class="container container-custom">
    <h4> Registration </h4>
    <div class="row">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'class' : 'col s12'}}) }}
        <div class="input-field col s12">
            {{ form_label(form.fullname, "Full Name") }}
            {{ form_errors(form.fullname) }}
            {{ form_widget(form.fullname) }}
        </div>
        <div class="input-field col s12">
            {{ form_label(form.email, "Email") }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="input-field col s12">
            {{ form_label(form.plainPassword.first, "Password") }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="input-field col s12">
            {{ form_label(form.plainPassword.second, "Confirmation Password") }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <div class="input-field col s12">
            {{ form_errors(form.gender) }}
            {{ form_widget(form.gender) }}
            {{ form_label(form.gender, "Gender") }}
        </div>
        <div class="col s12">
            {{ form_row(form.dateofbirth) }}
        </div>
        <div class="input-field col s12">
            {{ form_errors(form.nationality) }}
            {{ form_widget(form.nationality) }}
            {{ form_label(form.nationality, "Nationality") }}
        </div>
        <div class="col s12">
            <div class="file-field input-field">
                <div class="btn waves-effet waves-light">
                    <span>Choose a picture</span>
                    <i class="material-icons material-custom left">face</i>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    {{ form_widget(form.picture, {'attr' : {'class' : 'file-path validate', 'type' : 'text' }} ) }}
                </div>
            </div>
        </div>
        <div class="col s12" id="check-picture">
        </div>
        <div class="col s12">
            <button class="btn waves-effect waves-light right green" type="submit" name="action">
                Submit
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>