{% extends "base.html.twig" %}

{% block content %}
<div id="board-background"></div>
<div class="container container-custom">
    <div class="row row-custom">
        <div class="col s12 col-board">
            <a href="{{ path('meritocrate_new_discussion') }}"><button class="btn btn-large waves-effect waves-light">
                    Start a group
                    <i class="material-icons material-custom left">group_work</i>
                </button>
            </a>
            <a href="{{ path('meritocrate_join_discussion') }}"><button class="btn btn-large waves-effect waves-light">
                    Access groups & results
                    <i class="material-icons material-custom left">assessment</i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block chat %}
    <div id="connected">
        <b>People online</b>
        {% for user in users %}
            {% if user.online == true %}
                <p><a href="{{ path('meritocrate_private_livechat', {id : user.id } ) }}">{{ user.fullname }}</a></p>
            {% else %}
                <p><span class="outline"></span><a href="{{ path('meritocrate_private_livechat', {id : user.id } ) }}">{{ user.fullname }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/meritocrate/js/style.js') }}"></script>
{% endblock %}