{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>New discussion group</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field input-field-custom col s12">
                {{ form_label(form.name, "Discussion group name") }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <a><button class="btn btn-large waves-effect waves-light left" type="submit" name="action">
                Submit new group
                <i class="material-icons left">done</i>
            </button></a>
        </div>
        {{ form_end(form) }}
        <a href="{{ path('meritocrate_admin') }}"><button class="btn btn-large waves-effect waves-light right">
            Back to home
            <i class="material-icons left">replay</i>
        </button></a>
    </div>
{% endblock %}
