{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Discussion creation</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col 12">
                {{ form_label(form, "Discussion group Name") }}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
            <div class="input-field col 12">
                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">
                    Create new discussion
                    <i class="material-icons left">add</i>
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
