{% extends 'base.html.twig' %}

{% block content %}
    <div class="container container-custom">
        <h4>New group</h4>
        <div class="row row-custom">
        {{ form_start(form, {'attr': {'class' : 'discussion-form'  }} ) }}
            <div class="input-field col s12 hide-field">
                {{ form_row(form.id) }}
            </div>
            <div class="input-field col s12">
                {{ form_label(form.name, "Discussion group name") }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="input-field col s12">
                {{ form_widget(form.privacy) }}
                {{ form_errors(form.privacy) }}
                {{ form_label(form.privacy) }}
            </div>
            <div class="input-field col s12 hide-field">
                {{ form_row(form.ongoing) }}
            </div>

            <div class="input-field col s12 hide-field" id="password">
                {{ form_row(form.password) }}
            </div>
            <div class="col s12">
                <button class="btn btn-large waves-effect waves-light left" type="submit" name="action">
                    Submit new group
                </button>
            </div>
        {{ form_end(form) }}
        </div>
        <a href="{{ path('meritocrate_admin') }}">
            <button class="btn btn-large waves-effect waves-light right black">
                Back to home
            </button>
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/meritocrate/js/style.js') }}"></script>
{% endblock %}
