{% extends 'base.html.twig' %}

{% block content %}
    <div class="container container-statistics-page">
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <h4> TOP-RANKED STUDENTS </h4>
                {% for key, statistic in statistics|sort|reverse %}
                    {{ key }} : {{ statistic }} <br />
                {% endfor %}
                </div>
            </div>
            <table class="highlight centered">
                <thead>
                    <tr>
                        <td>Timestamp</td>
                        <td>User giving merit</td>
                        <td>User given merit</td>
                    </tr>
                </thead>
                <tbody>
                {{ dump(speeches) }}
                    {% for speech in speeches %}
                        {% for merit in speech %}
                            <tr>
                                <td>{{ merit.datecreation|date }}</td>
                                <td>{{ merit.rator }}</td>
                                <td>{{ merit.speech.user.username }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}