{% extends 'base.html.twig' %}

{% block content %}
    <div class="container container-custom">
        <div class="row">
                <div class="col s12">
                    <h5> TOP-RANKED STUDENTS </h5>
                    <div id="podium">
                    {% for key, statistic in statistics|sort|reverse %}
                        {% if loop.index == 1 %}
                            <p><img src="{{ asset('images/1st.png') }}"/> 1st : {{ key }}, with {{ statistic }} merit(s) </p>
                        {% endif %}
                            <div id="2and3">
                                {% if loop.index == 2 %}
                                    <p><img src="{{ asset('images/2nd.png') }}"/> 2nd : {{ key }}, with {{ statistic }} merit(s) </p>
                                {% endif %}
                                {% if loop.index == 3 %}
                                    <p><img src="{{ asset('images/3rd.png') }}"/> 3rd : {{ key }}, with {{ statistic }} merit(s) </p>
                                {% endif %}
                            </div>
                    {% endfor %}
                    </div>
                </div>
            <table class="highlight centered">
                <thead>
                    <tr>
                        <td>Timestamp</td>
                        <td>User giving merit</td>
                        <td>User given merit</td>
                    </tr>
                </thead>
                <tbody>
                    {% for speech in speeches %}
                        {% for merit in speech %}
                            <tr>
                                <td>{{ merit.datecreation|date }}</td>
                                <td>{{ merit.rator }}</td>
                                <td>{{ merit.speech.user.username }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/meritocrate/js/style.js') }}"></script>
{% endblock %}