{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Meritocrate</h2>
        <div class="row">
            <div class="col s12">
                <p><b>{{ group.name }}</b> Group, created on {{ group.datecreation|date('m/d/Y') }} at {{ group.datecreation|date('h:i:s a') }} </p>
            </div>
            <div class="col s12">
                <table class="highlight centered">
                    <thead>
                        <th>
                            <td>Time stamp</td>
                            <td>Username</td>
                            <td>Picture</td>
                            <td>Merit</td>
                        </th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <button class="btn waves-effet waves-light" id="speak">
                Press to speak
                <i class="material-icons left">mic</i>
            </button>
            <button class="btn waves-effet waves-light" id="refresh">
                Press to speak
                <i class="material-icons left">mic</i>
            </button>
        </div>
    </div>
    {{ dump(user) }}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

        var buttonElt = document.getElementById('speak');
        var buttonRefreshElt = document.getElementById('refresh');

        function ajaxPost(url, callback, idUser, idGroup){
            var req = new XMLHttpRequest();
            req.open('post', url, true);
            req.addEventListener("load", function(){
                if(req.status >200 && req.status<=400){
                    callback(req.responseText);
                }
            });
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            req.send("idUser="+idUser+"&idDiscussion="+idGroup+"");
        }

        buttonElt.addEventListener("click", function(){
            var idUser = {{ user.id }};
            var idGroup = {{ group.id }};

            function show(response){
                console.log(response);
            }
            ajaxPost('{{ path('meritocrate_set_speaker') }}', show, idUser, idGroup);
        });




</script>
{% endblock %}