{% extends "base.html.twig" %}

{% block h2 %}
    <h2> Meritocrate </h2>
{% endblock %}
{% block content %}
    <div class="container container-custom">
        <div class="row">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Date of Creation</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Results</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>{{ group.datecreation|date('m/d/Y') }}, {{ group.datecreation|date('h:i:s a') }}</td>
                            <td>{{ group.user.fullname }}</td>
                            <td>
                                {% if group.ongoing == 1 %}
                                    {% if group.privacy == 0 %}
                                        <a href="{{ path('meritocrate_discussion_group', {id : group.id}) }}" class="btn waves-effect waves-light">
                                            Public
                                            <i class="material-icons left">public</i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('meritocrate_discussion_group', {id : group.id}) }}" class="btn waves-effect waves-light black">
                                            Private
                                            <i class="material-icons left">lock</i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn waves-effect waves-light disabled">
                                        Closed
                                        <i class="material-icons left">lock</i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if group.privacy == 0 %}
                                    <a href="{{ path('meritocrate_group_statistics', {id : group.id}) }}" class="btn waves-effect waves-light">
                                        Results
                                        <i class="material-icons left">assessment</i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('meritocrate_group_statistics', {id : group.id}) }}" class="btn waves-effect waves-light black">
                                        Results
                                        <i class="material-icons left">assessment</i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="{{ path('meritocrate_admin') }}">
                    <button class="btn waves-effect waves-light left">
                        Back to Home
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/meritocrate/js/style.js') }}"></script>
{% endblock %}