{% extends 'base.html.twig' %}

{% block content %}
    <div class="container container-custom">
        <h4>My Discussion groups</h4>
        {% if discussionForm is defined %}
            {% for discussionForm in discussionForms  %}
                <div class="row">
                {{ form_start(discussionForm, {'attr': {'class':'update-discussion-form'}}) }}
                    <div class="input-field col s12 id-discussion">
                        {{ form_row(discussionForm.id) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_label(discussionForm.name, "Discussion group name") }}
                        {{ form_widget(discussionForm.name) }}
                        {{ form_errors(discussionForm.name) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_widget(discussionForm.ongoing) }}
                        {{ form_errors(discussionForm.ongoing) }}
                        {{ form_label(discussionForm.ongoing, "Status") }}
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light right update-discussion" type="submit">
                            Update
                            <i class="material-icons left">save</i>
                        </button>
                    </div>
                {{ form_end(discussionForm) }}
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col s12">
                    <p> You have not created any discussion group yet. Go ahead !</p>
                    <a href="{{ path('meritocrate_new_discussion') }}">
                        <button class="btn waves-effect waves-light">
                            Start a group
                            <i class="material-icons material-custom left">group_work</i>
                        </button>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        'use strict';
        $(document).ready(function() {
            $('select').material_select();
        });

        var formElts = document.getElementsByClassName('update-discussion-form');

        function ajaxPost(url, formData, callback){
            var req = new XMLHttpRequest();
            req.open('post', url, true);
            req.addEventListener('load', function(){
                if(req.status >=200 && req.status <400){
                    callback(req.responseText);
                }
            });
            req.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            req.send(formData);
        }

        /* Function executed in case of success */
        function confirmUpdate(response) {
            alert(response);
        }

        /* For each form on the page */
        for(var i=0; i<formElts.length; i++){
            formElts[i].addEventListener('submit', function(e) {
                e.preventDefault();
                var formData = new FormData(this);
                ajaxPost('{{ path('meritocrate_discussion_update') }}', formData, confirmUpdate);
            });
        }

    </script>
{% endblock %}